body{ background-color: rgb(223, 13, 13);
    color: rgb(232, 236, 15);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center; 
    margin: 0px 10px 10px 10px;




}
    


