* {
    background-color: gray;
}

h1 {
    color: white;
    background-color: blueviolet; 
    margin: auto;
    padding: 50px; 
    border: 10px yellow; 
    border-style: solid; 
    border-radius: 10px 100px 150px 200px; 
    text-align: center; 
    width: 300px; 
}  

#conteudo{
    background-color: green; 
    color: beige; 
    width: 100%;


} 

.texto{
    width: 80%;
    margin: auto; 
    background-color: darkorange;
}

